<%= render 'flights/search_form' %>

<div class="search-results col-md-offset-3">

  <% unless @found_flights.blank? %>
    <%= render "flights/search_results", found_flights: @found_flights %>
  <% end %>
</div>