@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
$form-gray: #6c757d;
$button-border: #2E2F30;
$button-hover: #999999;
$navbar-link-color: white;
$navbar-link-hover: grey;
$navbar-background-color: #333333;

/* General */
body {
  margin-top: 60px;
}

/* Header */
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: capitalize;
  padding-top: 9px;
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  background-color: $navbar-background-color;
  .nav {
    li {
      a {
        color: $navbar-link-color;
        &:hover {
          color: $navbar-link-hover;
          background-color: $navbar-background-color;
        }
      }
    }
    .octicon {
      display: inline-block;
      vertical-align: text-top;
      fill: white;
      height: 17px;
      width: 17px;
    }
    .open > a {
      background-color: $navbar-background-color;
      &:hover, &:focus {
        background-color: $navbar-background-color;
      }
    }
  }
}


/* Forms */
label {
  color: $form-gray;
  font-weight: 400;
  margin-left: 2px;
}

.search-form {
  padding-top: 8px;
}

.flight-info {
  .form-control {
    cursor: default;
  }
}

.passenger-info, .btn-passenger, #email-col, .btn-restart {
  margin-left: 15px;
}

.btn-restart {
  margin-top: -56px;
  margin-left: 180px;
}

.field-col {
  width: 25%;
}

#email-col {
  width: 40%;
}

.booking-form {
  margin-left: -15px;
}

.booking-info {
  margin-bottom: 30px;
}
.btn-primary {
  background-color: $form-gray;
  border-color: $button-border;
  &:hover {
    background-color: $button-hover;
  }
}

.checkbox {
  margin-left: 20px;
}

.search-results {
  margin-top: 45px;
  #search-header {
    margin-bottom: 30px;
  }
}

.booking-results-passengers {
  p {
    margin-bottom: 0;
  }
  .col-sm-3, .col-sm-9 {
    margin-top: 20px;
  }
}

/* Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 40px;
}