@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
$form-gray: #6c757d;
$button-border: #2E2F30;
$button-hover: #999999;

/* General */
body {
  margin-top: 50px;
}

/* Forms */
label {
  color: $form-gray;
  font-weight: 400;
}

.flight-info {
  .form-control {
    cursor: default;
  }
}

.passenger-info, .btn-passenger, #email-col, .btn-restart {
  margin-left: 15px;
}

.btn-restart {
  margin-top: -56px;
  margin-left: 180px;
}

.field-col {
  width: 25%;
}

#email-col {
  width: 40%;
}

.booking-form {
  margin-left: -15px;
}

.booking-info {
  margin-bottom: 30px;
}
.btn-primary {
  background-color: $form-gray;
  border-color: $button-border;
  &:hover {
    background-color: $button-hover;
  }
}

.checkbox {
  margin-left: 20px;
}

.search-results {
  margin-top: 45px;
  #search-header {
    margin-bottom: 30px;
  }
}
/* Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 40px;
}